app/src/main/AndroidManifest.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.android.com/apk/res/android" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attribute name="allowBackup" type="xs:string"/>
  <xs:attribute name="scheme" type="xs:string"/>
  <xs:attribute name="exported" type="xs:string"/>
  <xs:attribute name="windowSoftInputMode" type="xs:string"/>
  <xs:attribute name="priority" type="xs:string"/>
  <xs:attribute name="enabled" type="xs:string"/>
  <xs:attribute name="icon" type="xs:string"/>
  <xs:attribute name="configChanges" type="xs:string"/>
  <xs:attribute name="label" type="xs:string"/>
  <xs:attribute name="screenOrientation" type="xs:string"/>
  <xs:attribute name="hardwareAccelerated" type="xs:string"/>
  <xs:attribute name="protectionLevel" type="xs:string"/>
  <xs:attribute name="value" type="xs:string"/>
  <xs:attribute name="name" type="xs:string"/>
  <xs:attribute name="theme" type="xs:string"/>
  <xs:attribute name="parentActivityName" type="xs:string"/>
</xs:schema>