app/src/main/AndroidManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="manifest" type="manifestType"/>
  <xs:complexType name="serviceType" mixed="true">
    <xs:sequence>
      <xs:element type="intent-filterType" name="intent-filter" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:enabled" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:exported" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
  <xs:complexType name="permissionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:protectionLevel" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="applicationType">
    <xs:sequence>
      <xs:element type="activityType" name="activity" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Required SDK核心功能</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="serviceType" name="service" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Required  SDK核心功能 Required SDK 核心功能</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="receiverType" name="receiver" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Required SDK核心功能 Required SDK核心功能 User defined.  For test only  用户自定义的广播接收器</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="meta-dataType" name="meta-data" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Required  . Enable it you can get statistics data with channel</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute ref="and:allowBackup" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:icon" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:label" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:theme" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
  <xs:complexType name="uses-permissionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="dataType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:scheme" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="manifestType">
    <xs:sequence>
      <xs:element type="permissionType" name="permission"/>
      <xs:element type="uses-permissionType" name="uses-permission" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Required  一些系统要求的权限，如访问网络等  Optional for location 
        &lt;uses-permission android:name="android.permission.INTERNET" />
    &lt;uses-permission android:name="android.permission.VIBRATE" /></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="uses-featureType" name="uses-feature" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="applicationType" name="application">
        <xs:annotation>
          <xs:documentation>&lt;/>值来自开发者平台取得的AppKey</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="package"/>
  </xs:complexType>
  <xs:complexType name="categoryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="intent-filterType">
    <xs:sequence>
      <xs:element type="actionType" name="action" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Required  用户注册SDK的intentRequired  用户接收SDK消息的intentRequired  用户接收SDK通知栏信息的intentRequired  用户打开自定义通知栏的intentOptional 用户接受Rich Push Javascript 回调函数的intent</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="categoryType" name="category" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Required  显示通知栏  接收网络变化 连接/断开 since 1.6.3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="dataType" name="data" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="and:priority" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
  <xs:complexType name="actionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="meta-dataType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:value" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="uses-featureType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="receiverType" mixed="true">
    <xs:sequence>
      <xs:element type="intent-filterType" name="intent-filter" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Optional</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:enabled" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:exported" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
  <xs:complexType name="activityType" mixed="true">
    <xs:sequence>
      <xs:element type="intent-filterType" name="intent-filter" minOccurs="0"/>
      <xs:element type="meta-dataType" name="meta-data" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="and:name" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:label" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:theme" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:windowSoftInputMode" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:hardwareAccelerated" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:parentActivityName" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:configChanges" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:screenOrientation" xmlns:and="http://schemas.android.com/apk/res/android"/>
  </xs:complexType>
</xs:schema>